---
const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;
import { Image } from "@astrojs/image/components";
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl border border-dashed border-gray-300 transition ease-in-out hover:scale-[102%]"
>
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      {
        img && (
          <Image
            src={img}
            aspectRatio="5:4"
            width={850}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[16rem] rounded-lg object-contain object-center"
          />
        )
      }
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
          {badge && <span class="badge badge-info text-sm rounded mx-2">{badge}</span>}
        </h1>
        <p class="pt-2 text-1xl">{desc}</p>
        <div class="card-actions justify-end">
          {
            tags &&
              tags.map((tag) => <div class="badge badge-outline">{tag}</div>)
          }
        </div>
      </div>
    </div>
  </a>
</div>
